<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
		<head>
			<th:block th:fragment="Head_Tag">
		    <!-- Meta Tag -->
		    <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
		
		    <!-- Seo Meta -->
		    <meta name="description" content="Listen App - Online Music Streaming App Template">
		    <meta name="keywords" content="music template, music app, music web app, responsive music app, music, themeforest, html music app template, css3, html5">
		
		    <title>Ditto</title>
		
		    <!-- Favicon -->
		    <link href="/ditto/images/logos/ditto-logo.png" rel="icon"/>
		
		    <!-- IOS Touch Icons -->
		    <link rel="apple-touch-icon" href="/ditto/images/logos/touch-icon-iphone.png">
		    <link rel="apple-touch-icon" sizes="152x152" href="/ditto/images/logos/touch-icon-ipad.png">
		    <link rel="apple-touch-icon" sizes="180x180" href="/ditto/images/logos/touch-icon-iphone-retina.png">
		    <link rel="apple-touch-icon" sizes="167x167" href="/ditto/images/logos/touch-icon-ipad-retina.png">
		
		    <!-- Styles -->
		    <link href="/ditto/css/plugins.bundle.css" rel="stylesheet" type="text/css"/>
		    <link href="/ditto/css/styles.bundle.css" rel="stylesheet" type="text/css"/>
		
		    <!-- Google fonts -->
		    <link rel="preconnect" href="https://fonts.googleapis.com">
		    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
		    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
			
			<!-- 별점 관련 내용 -->
			<link href="/ditto/css/reviewRate.css" rel="stylesheet" type="text/css"/>
			<script src="/ditto/js/reviewRate.js"></script>
			
			
			<!-- Bootstrap CSS -->
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
			
			<!-- Custom styles for invalid feedback -->
			<style>
			    /* 유효성 검사 실패 시 빨간 테두리와 메시지 스타일 */
			    .is-invalid {
			        border-color: red !important;
			    }
			</style>
			
			<!-- jQuery -->
			<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
			
			<!-- Bootstrap JS -->
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
			</th:block>
		</head>
</html>