<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 헤드 태그 인클루드 -->
    <div th:replace="~{ditto/include/Head_Tag :: Head_Tag}"></div>
</head>
<body>

    <!-- 비밀번호 찾기 실패 시 나타날 모달 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bunny couldn't find a member whose email information matches the ID you entered. Please re-enter.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Line loader -->
    <div id="line_loader"></div>
    
    <!-- Loader -->
    <div id="loader">
        <div class="loader">
            <div class="loader__eq mx-auto">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <span class="loader__text mt-2">Loading</span>
        </div>
    </div>
    <!-- End Loader -->

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Auth -->
        <div class="auth py-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-9 col-sm-11 mx-auto">
                        <div class="card">
                            <div class="card-body p-sm-5">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <h4 class="mb-0">Forgot <span class="text-primary">Password</span></h4>
                                    <a href="index.html" class="back-home">
                                        <i class="ri-home-4-line"></i>
                                    </a>
                                </div>
                                <p class="fs-6">Forgotten your login melody? <br>Let Ditto harmonize your access once more</p>
                                <form id="resetPasswordForm" class="mt-5" action="/resetPassword" method="post">
                                    <div class="mb-3">
                                        <label for="memberID" class="form-label fw-medium">ID</label>
                                        <input type="text" id="memberID" name="memberID" class="form-control">
                                    </div>
                                    <div class="mb-2">
                                        <label for="memberEmail" class="form-label fw-medium">Email</label>
                                        <input type="email" id="memberEmail" name="memberEmail" class="form-control">
                                    </div>
                                    <div class="mb-5 mt-3">
                                        <input type="submit" id="submitBtn" class="btn btn-primary w-100" value="Submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Auth -->
    </div>
    <!-- End Wrapper -->

    <!-- Scripts -->
    <script src="/ditto/js/plugins.bundle.js"></script>
    <script src="/ditto/js/scripts.bundle.js"></script>

    <!-- Custom Script -->
    <script>
        $(document).ready(function() {
            $('#resetPasswordForm').submit(function(event) {
                event.preventDefault(); // 폼의 기본 동작 방지

                // 폼 데이터를 FormData 객체로 가져오기
                var formData = new FormData(this);

                // 서버로 비동기 POST 요청 보내기
                $.ajax({
                    url: "/resetPassword",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.rt === "success") {
                            // 비밀번호 재설정 성공 시 메시지 보여주기
                            alert('새 비밀번호가 이메일로 전송되었습니다.');
                        } else {
                            // 비밀번호 재설정 실패 시 모달 띄우기
                            $('#myModal').modal('show');
                        }
                    },
                    error: function() {
                        // 에러 발생 시 모달 띄우기
                        $('#myModal').modal('show');
                    }
                });

            });
        });
    </script>
    
</body>
</html>